<div class="col d-flex justify-content-center mt-5">
    <div class="card" style ="background-color: #f5f5f5; width: 600px">
        <div class="card-body">
            <div class="row fontInput">
                    <div class="form-group inputLogin">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" class="form-control" id="pseudo" placeholder="Entrer un pseudo">
                        <div id="valid-pseudo"></div>
                    </div>
                    <div class="form-group inputLogin">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Entrer un e-mail">
                        <div id="valid-email"></div>
                    </div>
                    <div class="form-group inputLogin">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" placeholder="Entrer un mot de passe">
                        <div id="valid-password"></div>
                    </div>
                    <div class="form-group inputLogin">
                        <label for="password">Confirmation du mot de passe</label>
                        <input type="password" class="form-control" id="confirm_password" placeholder="Entrer une confirmation du mot de passe">
                        <div id="valid-confirm-password"></div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button onclick="registerController.createAccount()" style="margin-top: 10px" class="btn btn-primary">S'inscrire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>