<h1 id="result"></h1>

<p id="display-result"></p>

<p id="room"></p>

<div id="vs"></div>



<!--<div style="position : fixed; bottom: 0; left: 0">-->
<!--    <span id="chose-action-1"></span>-->
<!--    <div id="my-cards"></div>-->
<!--</div>-->

<!--<div style="height: 100em"></div>-->

<!--<div style="position : fixed; top: 0; right: 0">-->
<!--    <span id="chose-action-2"></span>-->
<!--    <div id="his-cards"></div>-->
<!--</div>-->

<div class="container">
    <div class="row">

        <div class="col">
            <div class="col">
                <div id='pokemon-player-1' style="position : fixed; ">
                </div>
            </div>
        </div>

        <div class="col">
            <div id='pokemon-player-2' style="position : fixed; ">
            </div>
        </div>
    <div>


    <div class="row">

        <div class="col">
            <div style="position : fixed; bottom: 0">
                <div id="chose-action-1"></div>
                    <div id="card-1"></div>
            </div>
        </div>

        <div class="col">
            <div style="position : fixed; bottom: 0">
                <div id="chose-action-2"></div>
                <div id="card-2">
                </div>
            </div>
        </div>

        <div class="col">
            <div style="position : fixed; bottom: 0">
                <div id="chose-action-3"></div>
                <div id="card-3">
                </div>
            </div>
        </div>

    </div>
</div>
